*{
    margin: 0;
    padding: 0;
    font-family: arial;
    border:border-box
}

header{
    width: 100%;
    height: 100px;
   

}

.navbar{
   height: 60px;
   background-color: #131921;
   color: white;
   display: flex;
   align-items: center;   
   width: 100%;
  justify-content: space-evenly;
   
}


.navlogo{
    background-image: url(images/logo/AmazonLogo.jpg);    
    background-size: contain;
    background-repeat: no-repeat;
    height: 50px;
    width: 100px;  
    margin: 5px 0px 0px 10px;
    
}   

.border{
    border: 1px solid transparent;
    
}

.border:hover{
    border: 1px solid white;
   
}

/* Location */

.navlocation{
    display: flex;   
    /* margin: 5px 0px 0px 0px; */
    margin: 5px 0px 0px 10px;
    height: 50px;
   
}
.location-icon{
    height: 20px;
    width: 20px;
    margin: 15px 0px 0px 10px;
}

.location-text{
    font-size: 0.8rem;
    margin: 5px 0px 0px 0px;
    color:#ccc;
}


.update-location{
    font-size: 1rem;
    margin: 5px 0px 0px 0px;
    color:white;
}
 /* Search Box */

 .navsearch{
    display: flex;   
    margin: 5px 0px 0px 10px;
    
    height: 40px;
    width: 50%;
     background-color: #131921;
     
         
 }

 .search-category{
    background-color: rgb(179, 175, 175);
    border: .5px solid rgb(245, 161, 4);
    border-radius: 10px 0px 0px 10px;
    width: 50px;
    text-align: center;
 }

 .search-input{
    width: 100%;
    border: none;
    outline: none;
    padding: 5px;
    border: .5px solid rgb(245, 161, 4);
 }

 .search-icon{
    background-color: rgb(225, 181, 98);
    border: 3px solid rgb(251, 183, 57);
    border-radius: 0px 10px 0px 0px;
    padding: 5px;
    width: 45px;
    text-align: center;
    font-size: 1.2rem;
    color: black;
    
 }
 .search-icon:hover{    
    cursor: pointer;
 }

 .search-category:hover{
    cursor: pointer;
 }

 /* Change Language */
 .navChangeLanguage{
    display: flex;   
    width: 50px;
   height: 50px;
    background-color: #131921;
    margin: 5px 0px 0px 10px;
    font-size: .8rem;  
    align-items: center;
   
 }


 /*create common class for signin, returns and orders*/


 .common-navcode{
    width: 200px;
   background-color: #131921;
   height: 50px;
  display: flex;
  flex-direction: column;
  width: auto;
  margin: 5px 0px 0px 10px; 
  gap: 2px;
  justify-content: center;
   
 }

 /* Sign In */

 

 .signin-text{
    font-size: 0.7rem;
   
    color:#ccc;
}

.account-text{
    font-size: 0.85rem;
    
    color:white;
    font-weight: 700;
}

/* Returns & Orders */

.navReturnsOrders{    
    width: 200px;
    background-color: #131921;
    height: 50px;
   display: flex;
   flex-direction: column;
   width: 110px;
   margin: 5px 0px 0px 10px; 
   gap: 2px;
   justify-content: center;
   
  }
  
  .returns-text{
     font-size: 0.7rem;    
     color:#ccc;
 }
 
 .orders-text{
     font-size: 0.85rem;     
     color:white;
     font-weight: 700;
 }

 /* Cart */

 .navCart{
    display: flex;   
    width: auto;
   height: 50px;
    background-color: #131921;
    margin: 5px 0px 0px 10px;
     align-items: center;
    
 }

.cart-icon{
        font-size: 2rem;
        
}

.cart{
    font-size: 0.85rem;
    font-weight: 700;
    align-items: end;
}

/*Panel*/
.panel{
    background: #232f3e;    
    height: 40px;
    width: 100%;
    color: #ffffff;
    display: flex;
    justify-content: space-evenly;
     align-items: center;
     font-size: .9rem;
   
    
}

.panel-ops p{
    display:inline-block;
    margin-left: 5px;
     padding: 8px;
    border: 1px solid transparent;
   
}

.panel-ops p:hover{
    cursor: pointer;
    border: 1px solid white;
    padding: 8px;
}

